/* SIDEBAR */

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: black;
  width: 300px;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  overflow-y: auto;
}

/* LOGO */

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #7c3aed;
}

.logo-grid {
  width: 44px;
  height: 44px;
  background: #7b5cff;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  padding: 8px;
}

.logo-grid span {
  border: 3px solid #ffffff;
  background: #7b5cff;
  border-radius: 4px;
}

.grid-one {
  grid-row: span 2;
}

.grid-three {
  grid-row: span 2;
}

/* TASKFLOW HEADER */

.taskflow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

/* MENU */

.menu-child {
  display: block;
  padding: 12px;
  margin: 6px 0;
  border-radius: 10px;
  color: #6b7280;
  text-decoration: none;
  cursor: pointer;
}

.menu-child:hover {
  background: #7c3aed;
  color: white;
}

.menu-child.active {
  background: #7c3aed;
  color: white;
}

/* PROFILE */

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile span {
  font-size: 12px;
  color: #6b7280;
}

.name {
  color: white;
}







/* Home */
.main {
  flex: 1;
  padding: 20px 30px;
}

.dark{
  flex: 1;
  padding: 20px 30px;
  background-color: black;
}

.dark h1{
  color: white;
}

.dark .card{
  background-color: #e5f3f1;
}

.dark .box{
  background-color: #e5f3f1;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar input {
  width: 80%;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background: #e5f3f1;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.top-icons img{
  border-radius: 50%;
}

/* CONTENT */
.content h1 {
  margin-top: 20px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 20px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-flex{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 40px;
}

.up {
  color: #22c55e;
}

.down {
  color: #ef4444;
}

/* GRID */
.grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.box {
  background: white;
  border-radius: 16px;
  padding: 20px;
  min-height: 180px;
}

.box.large {
  grid-column: span 2;
}

/* PROGRESS */
.progress p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bar {
  background: #e5e7eb;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 100%;
  background: #7c3aed;
}

.theme{
  cursor: pointer;
}